.navbar-container {
  .menu-item {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    cursor: pointer;
  }
  .icon-group {
    img {
      padding-left: 0.3rem;
      width: 20px;
      cursor: pointer;
    }
  }
}
