<div
  class="navbar-container d-flex justify-content-around align-items-center p-3"
>
  <img src="assets/icons/rast-mobile.png" alt="" />
  <div class="menu-item">Hakkımızda</div>
  <div class="menu-item">Jüri-Yarışma Yazılımı</div>
  <div class="menu-item">Word Ninja</div>
  <div class="menu-item">Word Pyramids</div>
  <div class="icon-group d-flex justify-content-around">
    <img src="assets/icons/youtube.png" alt="" />
    <img src="assets/icons/instagram.png" alt="" />
    <img src="assets/icons/be.png" alt="" />
    <img src="assets/icons/linkedin.png" alt="" />
  </div>
</div>
